body {
    background-color: #f7efef;
}
.navbar-brand{
    font-size: 2.5rem;
}
.navbar {
    border: solid 1px black;
}
#input-group {
    border: solid 1px #afafaf;
    border-radius: 10px;
}
.btn-light {
    background-color: white;
}

#input-group {
    background-color: #f0dfdf;
}
